@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sacrament Meeting Planner</h1><br />
    <h3>Software to make time for what's important.</h3><br /><br />
    <img class="btn-block" src="~/img/Meetinghouse Worldwide-580.jpg" alt="MeetingHouse"><br/><br/>
    <button class="btn btn-info btn-block" onclick="window.location='Meetings/';">Open Planner</button>
</div>
