@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sacrament Meeting Planner</h1><br />
    <h2>Software to make time for what's important.</h2><br /><br />
   <img src="~/img/Meetinghouse Worldwide-580.jpg" alt="MeetingHouse">
</div>
